<div *ngIf="!building">
  <md-card>
    <md-card-title>
      Building not found!
    </md-card-title>

    <md-card-actions>
      <a md-raised-button color="primary" [routerLink]="['/buildings']">Back</a>
    </md-card-actions>
  </md-card>
</div>

<md-card *ngIf="building" class="col-xs-11">
  <md-card-title>
    Edit building
  </md-card-title>

  <form #buildingForm="ngForm" (ngSubmit)="onSubmit(buildingForm.value)" novalidate enctype="multipart/form-data">
    <div class="form-group">
      <md-input-container>
        <input type="text" name="name" required placeholder="Building name" [ngModel]="building.name" mdInput minlength="1" maxlength="15" i18n-placeholder="Placeholder for the building name@@placeholderBuildingName">
      </md-input-container>
      <p class="form-text text-muted" i18n="Hint for the building name requeriments@@helpBuildingName">
        The building name length must be between 1 and 15 characters.
      </p>
    </div>
    <br><br>

      <div class="form-group input-container">
        <button type="button" md-raised-button color="primary" name="button" (click)="uploadFile()">
          <md-icon>file_upload</md-icon> Upload photo
        </button>
        <input id="fileToUpload" #inputFile type="file" accept="image/png" style="display:none;" (change)="onChange($event)" ng2FileSelect [uploader]="uploader" required>
        <span *ngIf="!inputFile.value" class="text-muted">Select a photo that identifies this building (optional)</span>
        <span id="fileName" #fileName class="text-muted">{{inputFile.value}}</span>
      </div>

      <br><br>

    <md-card-actions>
      <a md-raised-button color="warn" [routerLink]="['/buildings']">Cancel</a>
      <button type="submit" class="pull-right" name="button" [disabled]="!buildingForm.form.valid" md-raised-button color="accent">Save</button>
    </md-card-actions>
  </form>
</md-card>
