<!--<h3 i18n="greeting|A friendly introduction@@mainGreeting">This is an english message</h3>-->
<md-sidenav-container>
  <md-sidenav #sidenav mode="side" color="primary" opened="true" class="sidenav">
    <md-nav-list>
      <a md-list-item href="#">Resources</a>
      <a md-list-item href="#">Resources</a>
      <a md-list-item href="#">Resources</a>
      <a md-list-item href="#">Resources</a>
    </md-nav-list>
  </md-sidenav>
  <md-toolbar color="primary">
    <button class="icon-button" (click)="sidenav.toggle()">
      <i class="material-icons toolbar-menu">menu</i>
    </button>

    <h1 i18n="Application title|Main application title@@mainTitle">Timetable generator</h1>

    <span class="toolbar-filler"></span>
  </md-toolbar>
  <div class="content">
    <div class="col-xs-offset-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</md-sidenav-container>
