<div *ngIf="!group">
  <md-card>
    <md-card-title>
      Group not found!
    </md-card-title>
    <md-card-actions>
      <a md-raised-button color="primary" [routerLink]="['/groups']">Back</a>
    </md-card-actions>
  </md-card>
</div>

<div *ngIf="group">
  <md-card class="col-xs-11">
    <md-card-title style="display: inline;">
      Edit group
    </md-card-title>

    <md-checkbox class="pull-right" (click)="disableHelp()" i18n="Indicates whether the user needs help for the inputs or not@@showHelp">Show help</md-checkbox>

    <br><br><br>

    <form #groupForm="ngForm" (ngSubmit)="onSubmit(groupForm.value)" novalidate enctype="multipart/form-data">
      <div class="form-group">
        <md-select placeholder="Career" [(ngModel)]="selectedCareer" (change)="updateCurricula()" i18n-placeholder="Placeholder to select the career of the group@@placeholderGroupCareer" [ngModelOptions]="{standalone: true}">
          <md-option *ngFor="let career of careers" [value]="career">
            {{career.name}}
          </md-option>
        </md-select>
        <p *ngIf="help" class="form-text text-muted" i18n="Group career hint@@helpGroupCareer">
          The group career
        </p>
      </div>

      <br>

      <div class="form-group">
        <md-select placeholder="Curriculum" name="curriculum" [ngModel]="group.curriculum" [(ngModel)]="selectedCurriculum" i18n-placeholder="Placeholder to select the group curriculum@@placeholderGroupCurriculum" required>
          <md-option *ngFor="let curriculum of curricula" [value]="curriculum">
            {{curriculum.name}}
          </md-option>
        </md-select>
        <p *ngIf="help" class="form-text text-muted" i18n="Group curriculum hint@@helpGroupCurriculum">
          The group curriculum
        </p>
      </div>

      <br>

      <div class="form-group">
        <md-select placeholder="Semester" name="semester" [ngModel]="group.semester" [(ngModel)]="selectedSemester" (change)="updateShifts()" i18n-placeholder="Placeholder to select the group semester@@placeholderGroupSemester" required>
          <md-option *ngFor="let semester of semesters" [value]="semester">
            {{semester}}
          </md-option>
        </md-select>
        <p *ngIf="help" class="form-text text-muted" i18n="Group semester hint@@helpGroupSemester">
          The group semester
        </p>
      </div>

      <br>

        <div class="form-group">
          <md-select *ngIf="available" placeholder="Shift" [ngModel]="group.shift" [(ngModel)]="selectedShift" name="shift" ngModel i18n-placeholder="Placeholder to select the group shift@@placeholderGroupShift" required>
            <md-option *ngFor="let shift of shifts" [value]="shift">
              {{shift}}
            </md-option>
          </md-select>

          <md-select *ngIf="!available" placeholder="No available shifts" i18n-placeholder="Placeholder that indicates that there are no available shifts for a new group@@placeholderGroupNoShifts" required>

          </md-select>
          <p *ngIf="help" class="form-text text-muted" i18n="Group shift hint@@helpGroupShift">
            Select the group shift
          </p>
        </div>


      <br>

      <br><br><br><br>

      <md-card-actions>
        <a md-raised-button color="warn" [routerLink]="['/groups']">Cancel</a>
        <button type="submit" class="pull-right" name="button" [disabled]="!groupForm.form.valid" md-raised-button color="accent">Save</button>
      </md-card-actions>
    </form>

  </md-card>
</div>
