<div *ngIf="!groups || groups.length == 0">
  <h1 i18n="no groups|Error message that implies that no groups were found|@@noGroups">No groups found</h1>
</div>

<div *ngFor="let group of groups">
  <md-card class="col-xs-5 grid-list-card">
      <img *ngIf="group.curriculum.career.imgPath == 'undefined'" class="md-card-img" md-card-image src="../../../assets/img/career.png" [routerLink]="['/groups/show', group.id]" alt="group career photo">
      <img *ngIf="group.curriculum.career.imgPath != 'undefined'" class="md-card-img" md-card-image [src]="getImageUrl(group.curriculum.career.imgPath)" [routerLink]="['/groups/show', group.id]" alt="group career photo">

      <md-card-title i18n="Group semester@@groupSemester">
        {{group.semester}} Semester {{group.shift}}
      </md-card-title>

      <md-card-actions>
        <div class="pull-right">
          <a class="button-edit" md-button [routerLink]="['edit', group.id]" i18n="edit button|Pressing this button redirects to a form where the actual values can be updated|@@edit">Edit</a>
          <a class="button-delete" md-button (click)="openConfirmationDialog(group.id)" i18n="delete button|Pressing this button will delete the current element|@@delete">Delete</a>
        </div>
      </md-card-actions>
  </md-card>
</div>

<button class="fab-embedded" md-fab color="accent" (click)="add()">
  <md-icon>add</md-icon>
</button>
